USE [master]
GO
/****** Object:  Database [QLCLB]    Script Date: 3/30/2019 8:29:22 PM ******/
CREATE DATABASE [QLCLB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLCLB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\QLCLB.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QLCLB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\QLCLB_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLCLB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLCLB]
GO
/****** Object:  Table [dbo].[Clb]    Script Date: 3/30/2019 8:29:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clb](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[TenClb] [nvarchar](200) NULL,
	[MucHocPhi] [decimal](18, 0) NULL,
 CONSTRAINT [PK_Clb] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DangKy]    Script Date: 3/30/2019 8:29:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DangKy](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[LopID] [bigint] NULL,
	[HocSinhID] [bigint] NULL,
	[NgayDky] [date] NULL,
	[HocPhi] [decimal](18, 0) NULL,
	[TaiKhoanID] [bigint] NULL,
	[NguoiDangKy] [nvarchar](100) NULL,
 CONSTRAINT [PK_DangKy] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HocSinh]    Script Date: 3/30/2019 8:29:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HocSinh](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[TenHS] [nvarchar](50) NULL,
	[GioiTinh] [bit] NULL,
	[NgaySinh] [date] NULL,
	[Lophc] [bigint] NULL,
 CONSTRAINT [PK_HocSinh] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LopHC]    Script Date: 3/30/2019 8:29:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LopHC](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Ten] [nvarchar](200) NULL,
 CONSTRAINT [PK_LopHC] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LopHoc]    Script Date: 3/30/2019 8:29:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LopHoc](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[TenLp] [nvarchar](200) NULL,
	[LichHoc] [nvarchar](500) NULL,
	[ClbID] [bigint] NULL,
	[NgayBatDau] [date] NULL,
	[CaHoc] [varchar](50) NULL,
 CONSTRAINT [PK_LopHoc] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 3/30/2019 8:29:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[TenTK] [varchar](50) NULL,
	[MatKhau] [varchar](50) NULL,
	[Quyen] [varchar](10) NULL,
 CONSTRAINT [PK_TaiKhoan_1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Clb] ON 

INSERT [dbo].[Clb] ([ID], [TenClb], [MucHocPhi]) VALUES (1, N'câu lạc bộ 1', CAST(500000 AS Decimal(18, 0)))
INSERT [dbo].[Clb] ([ID], [TenClb], [MucHocPhi]) VALUES (2, N'câu lạc bộ 2', CAST(150000 AS Decimal(18, 0)))
SET IDENTITY_INSERT [dbo].[Clb] OFF
SET IDENTITY_INSERT [dbo].[DangKy] ON 

INSERT [dbo].[DangKy] ([ID], [LopID], [HocSinhID], [NgayDky], [HocPhi], [TaiKhoanID], [NguoiDangKy]) VALUES (1, 1, 3, CAST(N'2019-03-20' AS Date), CAST(120000 AS Decimal(18, 0)), 1, N'kkkk')
INSERT [dbo].[DangKy] ([ID], [LopID], [HocSinhID], [NgayDky], [HocPhi], [TaiKhoanID], [NguoiDangKy]) VALUES (2, 1, 3, CAST(N'2019-02-13' AS Date), CAST(50000 AS Decimal(18, 0)), 1, N'ngươi 2')
INSERT [dbo].[DangKy] ([ID], [LopID], [HocSinhID], [NgayDky], [HocPhi], [TaiKhoanID], [NguoiDangKy]) VALUES (3, 3, 6, CAST(N'2019-03-20' AS Date), CAST(120000 AS Decimal(18, 0)), 1, N'người 1')
SET IDENTITY_INSERT [dbo].[DangKy] OFF
SET IDENTITY_INSERT [dbo].[HocSinh] ON 

INSERT [dbo].[HocSinh] ([ID], [TenHS], [GioiTinh], [NgaySinh], [Lophc]) VALUES (3, N'Dũng', 1, CAST(N'2019-03-13' AS Date), 1)
INSERT [dbo].[HocSinh] ([ID], [TenHS], [GioiTinh], [NgaySinh], [Lophc]) VALUES (4, N'Hương', 0, CAST(N'2019-03-13' AS Date), 1)
INSERT [dbo].[HocSinh] ([ID], [TenHS], [GioiTinh], [NgaySinh], [Lophc]) VALUES (6, N'test1', 0, CAST(N'2019-03-13' AS Date), 2)
SET IDENTITY_INSERT [dbo].[HocSinh] OFF
SET IDENTITY_INSERT [dbo].[LopHC] ON 

INSERT [dbo].[LopHC] ([ID], [Ten]) VALUES (1, N'Lớp 1')
INSERT [dbo].[LopHC] ([ID], [Ten]) VALUES (2, N'Lớp hành chính 2')
INSERT [dbo].[LopHC] ([ID], [Ten]) VALUES (3, N'Lớp 3')
SET IDENTITY_INSERT [dbo].[LopHC] OFF
SET IDENTITY_INSERT [dbo].[LopHoc] ON 

INSERT [dbo].[LopHoc] ([ID], [TenLp], [LichHoc], [ClbID], [NgayBatDau], [CaHoc]) VALUES (1, N'lớp clb 1', N'không nè', 2, CAST(N'2019-03-20' AS Date), N'1')
INSERT [dbo].[LopHoc] ([ID], [TenLp], [LichHoc], [ClbID], [NgayBatDau], [CaHoc]) VALUES (2, N'lớp n', N'ok', 1, CAST(N'2019-03-20' AS Date), N'2')
INSERT [dbo].[LopHoc] ([ID], [TenLp], [LichHoc], [ClbID], [NgayBatDau], [CaHoc]) VALUES (3, N'Lớp clb 2', N'noi nào có dây', 2, CAST(N'2019-03-20' AS Date), N'4')
SET IDENTITY_INSERT [dbo].[LopHoc] OFF
SET IDENTITY_INSERT [dbo].[TaiKhoan] ON 

INSERT [dbo].[TaiKhoan] ([ID], [TenTK], [MatKhau], [Quyen]) VALUES (1, N'diagru', N'1', N'Admin')
INSERT [dbo].[TaiKhoan] ([ID], [TenTK], [MatKhau], [Quyen]) VALUES (2, N'user1', N'1', N'User')
INSERT [dbo].[TaiKhoan] ([ID], [TenTK], [MatKhau], [Quyen]) VALUES (3, N'user2', NULL, N'User')
SET IDENTITY_INSERT [dbo].[TaiKhoan] OFF
ALTER TABLE [dbo].[DangKy]  WITH CHECK ADD  CONSTRAINT [FK_DangKy_HocSinh] FOREIGN KEY([HocSinhID])
REFERENCES [dbo].[HocSinh] ([ID])
GO
ALTER TABLE [dbo].[DangKy] CHECK CONSTRAINT [FK_DangKy_HocSinh]
GO
ALTER TABLE [dbo].[DangKy]  WITH CHECK ADD  CONSTRAINT [FK_DangKy_LopHoc] FOREIGN KEY([LopID])
REFERENCES [dbo].[LopHoc] ([ID])
GO
ALTER TABLE [dbo].[DangKy] CHECK CONSTRAINT [FK_DangKy_LopHoc]
GO
ALTER TABLE [dbo].[DangKy]  WITH CHECK ADD  CONSTRAINT [FK_DangKy_TaiKhoan1] FOREIGN KEY([TaiKhoanID])
REFERENCES [dbo].[TaiKhoan] ([ID])
GO
ALTER TABLE [dbo].[DangKy] CHECK CONSTRAINT [FK_DangKy_TaiKhoan1]
GO
ALTER TABLE [dbo].[HocSinh]  WITH CHECK ADD  CONSTRAINT [FK_HocSinh_LopHC] FOREIGN KEY([Lophc])
REFERENCES [dbo].[LopHC] ([ID])
GO
ALTER TABLE [dbo].[HocSinh] CHECK CONSTRAINT [FK_HocSinh_LopHC]
GO
ALTER TABLE [dbo].[LopHoc]  WITH CHECK ADD  CONSTRAINT [FK_LopHoc_Clb] FOREIGN KEY([ClbID])
REFERENCES [dbo].[Clb] ([ID])
GO
ALTER TABLE [dbo].[LopHoc] CHECK CONSTRAINT [FK_LopHoc_Clb]
GO
USE [master]
GO
